/*En la medida de lo posible, crear clases por etiqueta a modificar*/
.contenedorRegistro {
    width: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 10%;
}
.bodyRegistro {
    background-image: url("https://wallpaperaccess.com/full/291658.jpg");
    background-size: cover;
}
.labelRegistro {
    color: white;
}

