h1{
    color: blue;
    font-size: 1px;
}
h2{
    color:blueviolet;
}
#marco{
   background-color:rgb(82, 250, 110);
   width: 80%;
   margin-right: auto;
   margin-left: auto;
   height: 600px;
   border-radius: 34px;
   margin-top: 3%; 
}

#principal{
    width: 20%;
    margin-top: 34px;
    margin-left: auto;
    margin-right:auto;
    border: 0;
    border-radius: 2px;
}
label{
    margin-left: 4%;
    font: 20% sans-serif;
    font-weight: 500;
    color:rgb(73, 39, 0);
    font-size: 18px;
    font-weight: 500;
}

#input_big{
    margin-top: -50px;
    margin-left: 150px;
}

.input_alimentacion{
    margin-left: 25%;
    margin-top: 23px;
    width: 29%;
    height: 160px;
    border: 0;
}
.label_alimentacion{
    margin-top: 5%;
    margin-left: 35%;

}
.input_hospedaje{
    
    width: 29%;
    height: 160px;
    border: 0;
}
.label_otros{
    margin-left: 40%;
}

.input_otros{
    
    margin-left: 21.5%;
    width: 25.5%;
    height: 160px;
    border: 0;
}

.input_atracciones{
    margin-left: 13.5%;
    width: 25.5%;
    height: 160px;
    border: 0;
    
}

.label_atracciones{
    margin-top: 3%;
    margin-left: 2.5%;
}
#input_big2{
    margin-top: -25px;

}
button{
    margin-left: 30%;
    margin-right: -15%;
    margin-top: 23px;
}
#final{
    width: 100%;
    height: 30px;
}
textarea{
    border-radius: 2px;
}
a{
    font-size:  25px;
    margin-top: -70px;
}
body{
    background-color: rgb(243, 241, 164);
}
.barra{
    background-color: white;
    width: 100%;
    height: 100px;
}
img{
    margin-top: 1%;
    margin-left: 2%;
}