h1{
    color: blue;
    font-size: 1px;
}
h2{
    color:blueviolet;
}
#marco{
   background-color:rgb(82, 250, 110);
   width: 70%;
   margin-right: auto;
   margin-left: auto;
   height: 150px;
   border-radius: 34px;
   margin-top: 3%; 
   padding: 3px;
}

#principal{
    width: 20%;
    margin-top: 34px;
    margin-left: auto;
    margin-right:auto;
    border: 0;
    border-radius: 2px;
}
label{
    margin-left: 4%;
    font: 20% sans-serif;
    font-weight: 500;
    color:rgb(73, 39, 0);
    font-size: 18px;
    font-weight: 500;
}

#input_big{
    margin-top: -50px;
    margin-left: 150px;
}

.input_alimentacion{
    margin-left: 25%;
    margin-top: 23px;
    width: 29%;
    height: 160px;
    border: 0;
}
.label_alimentacion{
    margin-top: 5%;
    margin-left: 35%;

}
.input_hospedaje{
    
    width: 29%;
    height: 160px;
    border: 0;
}
.label_otros{
    margin-left: 40%;
}

.input_otros{
    
    margin-left: 21.5%;
    width: 25.5%;
    height: 160px;
    border: 0;
}

.input_atracciones{
    margin-left: 13.5%;
    width: 25.5%;
    height: 160px;
    border: 0;
    
}

.label_atracciones{
    margin-top: 3%;
    margin-left: 2.5%;
}
#input_big2{
    margin-top: -25px;

}
button{
    margin-left: 30%;
    margin-right: -15%;
    margin-top: 23px;
}
#final{
    width: 100%;
    height: 30px;
}
textarea{
    border-radius: 2px;
}
a{
    font-size:  25px;
    margin-top: -70px;
}
body{
    background-color: rgb(243, 241, 164);
}
.barra{
    background-color: white;
    width: 100%;
    height: 100px;
}
.barra img{
    margin-top: 1%;
    margin-left: 2%;
}

p{
    margin-left: 20px;
}
ul, li{
    margin:0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 300px;
    height: 400px;
}
ul.slider li{
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider img{
    margin-top: 40px;
    margin-left: 10%;
    border-radius: 7px;
    
    width: 350%;
    height:100%;
}

ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}

.menu{
    margin-top: 60px;
    text-align: center;
    margin: 20px;
}

.menu li{
    margin-top: 50px;
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: green;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 100%
} 

select{
    margin-left: 70%;
    margin-top: 2%;
    
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: greenyellow;
}

th, td{
    padding: 5px;
}
button{
    border-radius: 3px;
    background-color: red;
    color: white;
    margin-right: 22px;
    margin-top: 2px;

}